.navbar{
    background-color: white;
   
}
.nav-item{
    color: black !important;
}




.mainSection{
    margin-top: 110px;
}

@media only screen and (max-width: 950px) {
    .mainSection{
        margin-top: 80px;
    }
  }
  