/* width */
::-webkit-scrollbar {
    width: 10px;
    height: 5px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #e0d0d0;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: rgb(91, 24, 29);
    border-radius: 40px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: rgb(91, 24, 29);
}
