.w3rcontainer{
    /*border: 1px solid #fa5f8c;*/
    border: 1px solid #ab365a;
    border-radius: 100px;
}
.hover-underline-animation {
    color: white;
    display: inline-block;
    position: relative;
    transition: width 500ms linear, height 500ms linear;
    transition: all 200ms linear;
}

.hover-underline-animation:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2.5px;
    bottom: 0;
    left: 0;
    border-radius: 100px;
    background-color: #ab365a;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

.hover-underline-animation:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
}
.hover-underline-animation:hover {
    color: #362d30;
}
